<meta charset="UTF-8" />
<link rel="icon" type="image/svg+xml" href="/vite.svg" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title><%= typeof title != 'undefined' ? title : 'Vite Dockerized' %></title>
<% if (environment === 'production') { %>
<% if (manifest[script]) { %>
<link rel="stylesheet" href="<%= manifest[script].css %>" />
<% } %>
<% } %>
